@import '~@fluentui/react/dist/sass/References.scss';

.todayWork {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  min-height: 410px;
  background-color: #a9a9a924;
}

.loading{
  text-align: center;
  display:block
}




